<!DOCTYPE html>
<html>
  <head>
    <title>Assessment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

  <body>
    <div>
      <% if logged_in? %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Assessment</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "Home", home_path, class:"nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Profile", user_path(@current_user.id), class:"nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Log Out", logout_path, class:'nav-link', method: :delete %>
            </li>
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <%= form_tag search_users_path do %>
              <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search Users" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <% end %>
          </div>
        </div>
      </nav>

      <% else %>
        
        <%= link_to 'Login', login_path, method: :get %>
        <%= link_to 'SignUp', new_user_path, method: :get %>
      <% end %>
    </div>
    
    <%= yield %>
  </body>
</html>
